@inherits LayoutComponentBase

<PageTitle>Blog</PageTitle>

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
<div class="page d-flex">
  
  @* thanh menu, topmenu *@
  <div class="container-fluid text-white" style="background-color: var(--color-blue)">
    <TopMenu />
  </div>
  
  @* body *@
  <div class="container-fluid flex-grow-1">
    @Body
  </div>
  @* chân trang *@
  <footer>
    <p>Trang Blog Dùng Công Nghệ <strong>Blazor Server</strong> by <strong>PhamThanhThinh</strong></p>
  </footer>
</div>
